<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Agroclimatic zones</title>
  <meta name="description" content="This application visualizes geographical data in a 3D environment together with selected agro-climatic factors based on historical weather data of ERA5-Land dataset. A spatial resolution of data is 0.1° x 0.1°, i.e. about 4,5 x 4,5 km in the area of the Pilsen region displayed in a 3D environment. More information about the data and the calculation of agro-climatic data can be found at https://github.com/JiriVales/agroclimatic-factors/wiki.

  The application was developed within the euxdat.eu, InteCom and stargate.eu projects.
">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <style>
  .hs-lm-warning-scale{visibility:hidden}
  body {margin: 0}
  </style>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body >
    <hs ng-controller="Main" style="position: relative;"></hs>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script type="application/javascript" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>
</html>
